@qlik:registry=https://artifactory.rdlund.qliktech.com/artifactory/api/npm/npm-virtual/
//artifactory.rdlund.qliktech.com/artifactory/api/npm/npm-virtual/:_password="eyJ2ZXIiOiIyIiwidHlwIjoiSldUIiwiYWxnIjoiUlMyNTYiLCJraWQiOiJqa1VPbEtMcHduam04ZzF5TXdMLWlOMFp4ZzJHOHZFOHpOWV9acVNlWF9ZIn0.eyJleHQiOiJ7XCJyZXZvY2FibGVcIjpcInRydWVcIn0iLCJzdWIiOiJqZmFjQDAxZTR4ZjhyNW50N2d6MHk5bXRkaDgxdjVwXC91c2Vyc1wvaWlpIiwic2NwIjoiYXBwbGllZC1wZXJtaXNzaW9uc1wvdXNlciIsImF1ZCI6IipAKiIsImlzcyI6ImpmZmVAMDAwIiwiZXhwIjoxNjc1MzU3NDUxLCJpYXQiOjE2NDM4MjE0NTEsImp0aSI6IjVmYzk5NmE5LWNkNDEtNDk3MC04ODU1LTgzNTRjOTUwMTc2MiJ9.ZoZDsfN_pcARt_Vr_ELeRoZ3c-x6aDvKy6PrEbBcbzy1gjJRRzqjRKeJ09X4crtHjKCi0QKhTPTLIvzKUYZkB_H-tgoLfVVx7sNu0o5k2PSXo4q1FzcHk-FBX6UsoJw0uoGq26aChsvb6QOLO0xxGPHhisC0XblOUbJP_lcfSrw-QV_RgE1klkI7zXhLCUCwZYC-fKugPmbBKBPwTtwx7keJuOoDifRHmHzWnQwwLWzAkdxkDeScJjyMkNv_NOCYBBkuSq30k3vxqPa6EvSe5i9CdtDDc7_YsCtPAcXZUuA6lwClXUoXKFMtFRpi-PkncZcmon3_V5XSQjZs3vuzlA"
//artifactory.rdlund.qliktech.com/artifactory/api/npm/npm-virtual/:username=iii
//artifactory.rdlund.qliktech.com/artifactory/api/npm/npm-virtual/:email=iii@qlik.com
//artifactory.rdlund.qliktech.com/artifactory/api/npm/npm-virtual/:always-auth=true
@vamsik68:registry=https://npm.pkg.github.com/
//npm.pkg.github.com/:_authToken=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
//npm.pkg.github.com/:always-auth=true
